[submodule "vk-bootstrap"]
	path = Deps/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
	shallow = true
[submodule "VulkanMemoryAllocator"]
	path = Deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	shallow = true
