[submodule "Vendor/vk-bootstrap"]
	path = Vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
	shallow = true
[submodule "Vendor/VulkanMemoryAllocator"]
	path = Vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	shallow = true
[submodule "Vendor/RayTracingDenoiser"]
	path = Vendor/RayTracingDenoiser
	url = https://github.com/NVIDIAGameWorks/RayTracingDenoiser.git
	shallow = true